.uniform-top {
    padding-top: 0.5rem;
}

.template-top {
    padding-top: 0.5rem;
}

.gift-entry-top {
    padding-top: 0rem;
    margin-top: 0rem;
}

.half-reduced {
    padding-top: 0.3rem;
    width: 50%;
}

.expand-collapse-link {
    font-size: var(--slds-g-font-size-base, 0.8125rem);
    font-weight: bold;
}
